.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 80px;
    padding-top: 105px;
    height: 60vh;
    
}

.sec-5-1{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sec-5-1 >:nth-child(1){
   font-weight: 500;
}

.sec-5-2{
   display: flex;
   flex-direction: row;
   justify-content: start;
   border: 2px solid black;
   padding: 25px;
   border-radius: 30px;
   margin-bottom: 100px;

   gap: 90px; 
}

.a1{
   display: flex;
   align-items: center;
   gap: 13px;
}

.a1 img{
    width: 44px;
    height: 44px;
}

.phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

.phone img{
   
    width: 36px;
    height: 36px;
}

.phone span{
    font-weight: 400;
    font-size: 18px;
}

.a1 span{
    font-weight: 400;
    font-size: 18px;
}

@media(max-width:1024px){
    .sec-5-2{
        display: flex;
        flex-direction: row;
        gap: 45px;
        padding: 15px;
    }
    .a1 span{
        font-weight: 400;
        font-size: 21px;
    }
    .a1 img{
        width: 54px;
        height: 54px;
    }
    .phone span{
        font-weight: 400;
        font-size: 21px;
    }
    .phone img{
        width: 44px;
        height: 44px;
        padding-left: 4px;
    }

}

@media(max-width:767px){
    .sec-5-2{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 10px;
    }
    .a1 span{
        font-weight: 400;
        font-size: 16px;
    }
    .phone span{
        font-weight: 400;
        font-size: 16px;
        padding-top: 1px;
    }
    .a1 img{
        width: 42px;
        height: 42px;
    }
    .phone img{
        width: 34px;
        height: 34px;
        padding-left: 4px;
    }

}